In [1]:
import pandas as pd

In [3]:
india_weather=pd.DataFrame({"city":["Kolkata","Mumbai","Banglore"],
                           "temp":[34,36,28],
                           "humidity":[80,60,50]})
india_weather

       city  temp  humidity
0   Kolkata    34        80
1    Mumbai    36        60
2  Banglore    28        50

In [4]:
us_weather=pd.DataFrame({"city":["NewYork","Chicago","SanFrancisco","Texas"],
                        "temp":[15,10,6,20],
                        "humidity":[89,92,84,80]})
us_weather

           city  temp  humidity
0       NewYork    15        89
1       Chicago    10        92
2  SanFrancisco     6        84
3         Texas    20        80

In [7]:
df=pd.concat([india_weather,us_weather])
df

           city  temp  humidity
0       Kolkata    34        80
1        Mumbai    36        60
2      Banglore    28        50
0       NewYork    15        89
1       Chicago    10        92
2  SanFrancisco     6        84
3         Texas    20        80

In [10]:
url=pd.read_html('https://www.findeasy.in/top-indian-states-by-population/')
states=[]
#print (url[0])
for x in url[0][1][1:]:
    states.append(x)
    
print(states)

['Uttar Pradesh', 'Maharashtra', 'Bihar', 'West Bengal', 'Madhya Pradesh', 'Tamil Nadu', 'Rajasthan', 'Karnataka', 'Gujarat', 'Andhra Pradesh', 'Odisha', 'Telangana', 'Kerala', 'Jharkhand', 'Assam', 'Punjab', 'Chhattisgarh', 'Haryana', 'Delhi', 'Jammu & Kashmir', 'Uttarakhand', 'Himachal Pradesh', 'Tripura', 'Meghalaya', 'Manipur', 'Nagaland', 'Goa', 'Arunachal Pradesh', 'Puducherry', 'Mizoram', 'Chandigarh', 'Sikkim', 'Dadra & Nagar Haveli and Daman & Diu', 'Andaman & Nicobar', 'Ladakh', 'Lakshadweep']